<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShaRenYouXi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EF9A9511C2B99BD006483CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EF9A96A1C2B99BD006483CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EF9A9751C2B99BD006483CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
